.logo-section {
    padding: 60px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo-slider {
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.logo-track {
    display: flex;
    width: calc(240px * 20);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-240px * 10));
    }
}

.logo-slide {
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.logo-slide img {
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.logo-slide img:hover {
    opacity: 1;
}
